BusinessCard {
	font-family: Arial, sans-serif;
	background-color: #ff6347;
	width: 300px;
	display: block;
	padding: 10pt;
	border: 3px solid #36454f;
	margin: 5px;
	text-align: left;
}

Name {
	color: #36454f;
	font-weight: bold;
	font-size: 150%;
	display: block;
	margin-bottom: 5%;
}

phone {
	font-size: 90%;
	display: block;
}

/* Highligh all elements tagged with work */
[type = 'work'] {
	color: #cccc22
}




/*
email {
	color: #0D3427;
	font-size: 90%;
	font-weight: bold;
	display: block;
	margin-top: 3%;
}

email::before {content: "email: "}



phone::before {content: attr(type) ": "}
phone[primary]::after {content: " (" attr(primary) ")" }

*/